@media screen and (max-width: 576px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
  section > .topnav {
    grid-template-columns: 1fr;
    justify-items: start;
  }
  section > .row--3 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section-certificate {
    grid-template-columns: 1fr;
  }
  .row--4 {
    flex-direction: column;
  }
  .cert--1 {
    border-right: none;
  }
  .section-certificate::after {
    position: unset;
    background-color: unset;
  }
  .certificate-item {
    border-bottom: 1px solid #d6c08d;
  }
  .cert--3 {
    padding: 0;
  }
  .date-time {
    flex-direction: column;
  }
  .topnav {
    padding-left: 30px;
  }
  section > .container {
    padding-left: 0;
    padding-right: 0;
  }
  #target,
  #personal-info,
  #job-info,
  #certificate,
  #project {
    padding-left: 10px;
    padding-right: 10px;
  }
  .topnav a {
    width: 100%;
    text-align: left;
    padding-left: 40px;
  }
  h1 {
    font-size: 30px;
  }
  .row-title {
    align-self: center;
  }
  .item {
    grid-template-columns: 75% 25%;
  }
  .view-more,
  .view-less {
    top: 100px;
  }
}
